.section-list-item-btn {
  @extend %link;
  @extend %button;

  text-align: center;
  line-height: 52px;

  &:hover, 
  &:focus {
    color: $color-active;
    border-color: $color-active;
    transition: color 0.3s ease;
    transition: border-color 0.3s ease;
  }
}

.icon-next {
  @include size(5px, 10px);

  display: inline-block;
  margin-left: 20px;
}

.section-list-item-btn:hover .icon-next,
.section-list-item-btn:focus .icon-next {
  fill: $color-active;
  transition: fill 0.3s ease;
}
