.social-list {
  @extend %list;

  height: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &::before {
    @extend %psevdo;
    @include size(1px, 190px);
    display: inline-block;

    @include tablet {
      height: 220px;
    } 
  }
}

.social-list-item {
  padding-left: 26px;
}

.social-icon {
  @include size(20px, 20px);
  @extend %icon-pos;
}

.social-list-item:hover .social-icon,
.social-list-item:focus .social-icon {
  fill: $color-active;
  transform: scale(1.1);
  transition: fill 0.3s ease;
  transition: transform 0.3s ease;
}