.section-card {
  background-color: $bg-color;
  padding: 20px 15px 20px;
  margin: 0 auto;

  @include tablet {
    @include size(600px, 422px);

    padding: 30px 35px 30px;
  }
}

.options {
  display: flex;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
  @include large-mobile {
    flex-direction: row;
    justify-content: space-between;
  }
  @include tablet {
    justify-content: space-between;
  }
}

.composition-btn {
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.video {
  @extend %icon-pos;
 
  background-size: cover; 
  position: relative;
  margin: 0 auto;
  height: 422px;

  @include tablet {
    @include size(600px, 422px);
    background-size: contain;
  }

  &::before {
    @extend %psevdo;
    @include size(20px, 20px);

    transform: rotate(45deg);
    background-color: $bg-color;
    position: absolute;
    top: -10px;
    left: 49%;
    @include desktop {
      top: 200px;
      left: -10px;
    }
  }
}

.video-1 {
  background-image: url("../images/maxresdefault(1)@2x.jpg");
}

.video-2 {
  background-image: url("../images/maxresdefault(2)@2x.jpg");

  &::before {
    @include desktop {
      left: 590px;
    }
  }
}

.video-3 {
  background-image: url("../images/maxresdefault(3)@2x.jpg");
}
