.section-header {
  text-align: center;
}

.section-title {
  @include font($title-size, 400, 59.27px);

  margin: 0 auto;
  margin-bottom: 50px;
  font-family: $title-font;
  color: $color-title;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  
  &::after {
    @extend %psevdo;

    background-color: $color-title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include tablet {
      width: 502px;
    } 
  }
}

.section-descr {
  @include font($main-size, 400, 24.27px);

  margin: 0 auto;
  @include tablet {
    width: 600px;
  }
  @include desktop {
    width: 750px;
  }
}

.section-list {
  @extend %list;
}

.section-list-item-title {
  @include font($h3-size, 400, 24.27px);

  margin: 0;
  margin-bottom: 25px;
  color: $color-title;
}

.section-list-item-info {
  @include font($main-size, 700, 24.27px);

  margin: 0;
  color: $color-title;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section-list-item-date {
  margin: 0;
  margin-bottom: 6px;

  &::after {
    @extend %psevdo;
    margin-top: 6px;
  }
}

.section-list-item-name {
  margin: 0;
}

 
.section-list-item-text {
  margin: 0;
}
