.section-events {
  @extend %background-pos;

  background-image: url("../images/upcoming-events-desktop.png");
  padding-top: 130px;
  padding-left: 40px;
  padding-bottom: 295px;

  @include tablet {
    padding-left: 170px;
  }
  @include desktop {
    padding-left: 480px;
    padding-top: 335px;
    padding-bottom: 180px;
  }
}

.section-title-events {
  color: rgb(66, 113, 126);
  margin-bottom: 80px;

  @include desktop {
    text-align: left;
  }

  &::after {
    @include desktop {
      left: 25%;
    }
  }
}

.tour-name {
  margin-bottom: 8px;

  &::after {
    @extend %psevdo;

    width: 132px;
    margin-top: 6px;
  }
}

.events-text {
  margin-bottom: 75px;
}

.events-text-first {
  width: 230px;
}

.events-text-second {
  @include tablet {
    width: 540px;
  }
}

.next-tour-date {
  position: relative;

  &::before {
    @extend %psevdo;
    @include size(1px, 51px);
    position: absolute;
    left: 30px;
    top: -60px;
  }
}

.next-tour-date-first {
  margin-bottom: 205px;

  &::after {
    @extend %psevdo;
    @include size(1px, 165px);
    position: absolute;
    left: 30px;
    bottom: -180px;
  }
}
