.section-history {
  @extend %background-pos;
  

  background-image: url("../images/history.png");
  padding-top: 160px;
}

.section-title-history {
  color: rgb(91, 92, 90);

  &::after {
    @include desktop {
      width: 400px;
    }
  }
}

.section-descr-history {
  @include desktop {
    width: 810px;
  }
}
